<div class="panel-body">
  <%= form_tag cities_path, :method => 'get' do %>
  <%= submit_tag "Submit"%>
     <div class="form-group">
       <%= text_field_tag :api_key %>
     </div>
  <% end %>
</div>
